body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}


#history {

}



#forecast {
    display: flex;
    align-items: center;
    margin:20px

}

#fiveDay {
    display: flex;
    align-items: center;
    margin: 10px;
}

.forecastEL {
    display: flex ;
    margin-left: 19px;
    margin-right: 19px;
}